{% extends "personal/header.html" %}
{% block content %}
{% load staticfiles %}
    	<link rel="stylesheet" href="{% static 'bioapp/css/stylebio21.css' %}" type = "text/css"/>
<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1>Konwerter</h1>
        </div>
		<form action="../bioapp/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <p>podany format jest niepoprawny. Spróbuj jeszcze raz</p>
            <input type="submit" value="konwertuj" />

        </form>
    </div>
    <div class="col-md-8">
        <div class="page-header">
            <h1>Format podanej struktury zostanie rozpoznany automatycznie!</h1>
        </div>
    </div>
</div>
{% endblock %}
